
body{
    color: #333333; 
    font-size: 13px;
    background-color: #f5f5f5;
    overflow-x: hidden;
} 
a{color:#2d374b;text-decoration:none} 
a:hover{color:#cd0200;text-decoration:none} 
em{font-style:normal} 
li{list-style:none} 
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0} 
p{word-wrap:break-word}

a:hover{color: #000!important;width: auto;height: 100%;}
#root{
    background-color:white
}
#popHead{
    background-color:white
}
#refScope{
    background-color: wheat;
    width: 20%;
    height: 500px;
}
#uname{
    color: #333333;
    font-size: 20.0px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 1em;
    margin-top: 1em;
}
#addButton{
    width: 104px;
    height: 30px;
    float: left;
    line-height: 30px;
    background: #2cc3e8;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-size: 16.0px;
    font-weight: 400;
}
#addOp{
    width: 64px;
    height: 30px;
    float: left;
    line-height: 30px;
    background: #2cc3e8;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-size: 16.0px;
    font-weight: 400;
}
#refBox{
    width: 130px;
    height: 30px;
    float:left;
    line-height: 30px;
    border-radius: 3px;
    font-size: 14.0px;
}

table, table thead, table thead tr, table thead tr td{
    border:1px solid   #2cc3e8
}
table thead tr th {
    border: 1px solid #2CC3E8;
    height: 40px;
    text-align: left;
    padding: 0px 5px;
    box-sizing: border-box;
    background-color: #f8fcfc;
    width: 200px!important;
    color: #0b5c70;
    font-weight: 400;
    cursor: pointer;
}
table thead tr td {
    border: 1px solid #2CC3E8;
    height: 40px;
    text-align: left;
    padding: 0px 5px;
    width: 200px!important;
    box-sizing: border-box;
    cursor: pointer;
}
#result{
    width: 68px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #2cc3e8;
    background: #2cc3e8;
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
    float: left;
    font-size: 16.0px;
    font-weight: 500;
    margin-left: 12em;
}

#popHead{

    width: 40%;
    height:70%;
    position: absolute;
    top: 20px;
    right: 0px;
    bottom: 20px;
    box-shadow: 0px 0px 10px 1px #888;
    z-index: 5;

}
#opScope{

   width: 40%;
    /* height:70%; */
    position: absolute;
    top: 20px;
    right: 0px;
    bottom: 20px;
    z-index: 4; 
}
.popText{
    color: #707070;
    font-size: 16.0px;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
    padding:0px
}
input{
    width: 138px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #dbdbdb;
    margin-right: 10px;
    text-indent: 10px;
    
}
#nextLevel{
    /*display: inline-blocks;*/
    width: 135px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #2CC3E8;
    cursor: pointer;
    border: 1px solid #2cc3e8;
    float:left
}
#delButton{
    margin-left: 0.2em;
    width: 15px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #e57066;
    cursor: pointer;
    border: 1px solid #e57066;
    float:left
}
#delPakButton{
    margin-left: 0.2em;
    width: 65px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #ff0024;
    color: white;
    cursor: pointer;
    border: 1px solid #e57066;
    float:left
}
#tmpSave{
    float:left;
    background-color:red
}

li{
    float:left;
    width:100%
}

 #closeX{
    height:20px;
    line-height:20px;
    color:#ff0024;
    float:right;
    font-size: 2em;
    font-weight: 800;
    padding: 0;
    margin-right: 0.1em; 
    cursor:pointer   
}
.close{
    height:20px;
    line-height:20px;
    color:#ff0024;
    float:right;
    font-size: 2em;
    font-weight: 800;
    padding: 0;
    margin-right: 0.1em; 
    cursor:pointer   
} 
.ruleBox {
    width: 40%;
    /* height:70%; */
    position: absolute;
    top: 20px;
    right: 0px;
    bottom: 20px;
    z-index: 4;
}
#globalRuleBox {
    width: 40%;
    /* height:70%; */
    position: absolute;
    top: 20px;
    right: 0px;
    bottom: 20px;
    z-index: 4;
}